<div class="navbar-footer">
	<%= link_to terms_of_use_path do %>
		<span class="footer-menu-left">
			<span>Terms of Use</span>
		</span>
	<% end %>
	<%= link_to imprint_path do %>
		<span class="footer-menu-left">
			<span>Imprint</span>
		</span>
	<% end %>
		<%= link_to about_path do %>
		<span class="footer-menu-right">
			All rigths reserved, © 2015 TAOMINA.
		</span>	
	<% end %>
</div>